:root {
  color-scheme: light;
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;    
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.site-header {
  background-color: #333;
  color: white;
  padding: 10px 0;
}

.site-header__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.site-header__logo {
  font-size: 24px;
}

main {
  padding: 20px;
}

.search-form {
  display: grid;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

#keyword {
  width: 300px;
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

#search-btn {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
}

#search-btn:hover {
  background-color: #45a049;
}

#results {
  align-items: center;
  width: 60%;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: #333;
}

.game {
  position: relative;
  padding: 5px 20px;
  border: 1px solid #ccc;
  background-color: #ffffff;
  border-radius: 5px;
  line-height: 1.5;
  justify-content: space-around;
  font-family: "Noto Sans Japanese";
  box-shadow: 1px 1px 1px #999;
  margin-bottom: 20px;
}

.game:nth-of-type(even) {
  background-color: #333333;
  content: "";
}

.game:nth-of-type(even) p,
.game:nth-of-type(even) p {
  color: var(--foreground);
}

.game:hover {
  background-color: #f0f0f0;
  box-shadow: 1px 1px 1px #666;
}

p {
  margin: 0;
}
